body {
  /* position: absolute; */
  font-family: sans-serif;
  /* -webkit-user-select: none; */
}

#bglayer {
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
}
